.git
.github
.vscode
.yarn/cache
.yarn/sdks
node_modules
dist
coverage
result
test
*.md
.env
.env.*
.DS_Store
*.log
.prettierignore
.prettierrc
eslint.config.mjs
jest.config.js
vitest.config.*.ts
default.nix
shell.nix
yarn-project.nix
